In [1]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv('shapeOfYouComments.csv')
df.tail()

,Author,Comment,Publish_Date,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
16328,Ak,Ending is really awesome ü§£ü§£ü§£ü§£ü§£,2022-01-17T03:44:40Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16329,Ramida Seedapeng,I like this song,2022-01-17T03:32:39Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16330,manju sarma,Really gold,2022-01-17T03:27:19Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16331,Youngmac1661,I know u probably not reading this but I love...,2022-01-17T03:00:21Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16332,T-man,These rhymes are on a different level,2022-01-17T02:33:33Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df3 = df[['Author','Comment']].copy()
df3.head()

             Author                                            Comment
0       Don Gillies  Nothing better than being young and in love.  ...
1          Dogeball                                     this song. . .
2  Varifiable Jelly                 5 years and it ain‚Äôt stopped. Dang
3              „Åü„Åç„Åè„Çì  there is literally nobody in this world who do...
4     Nirmala Gowda                                           Me I&#39

In [15]:
df3['Comment']

0        Nothing better than being young and in love.  ...
1                                           this song. . .
2                       5 years and it ain‚Äôt stopped. Dang
3        there is literally nobody in this world who do...
4                                                 Me I&#39
                               ...
16328                       Ending is really awesome ü§£ü§£ü§£ü§£ü§£
16329                                     I like this song
16330                                          Really gold
16331    I know u probably not reading this but I  love...
16332                These rhymes are on a different level
Name: Comment, Length: 16333, dtype: object

In [21]:
df3['Comment'] = df3['Comment'].str.replace(r'<[^<>]*>', '', regex=True)  #remove html tags